{{ if isset .Params "tags"}}
  <i class="fa fa-tags"></i>
  {{ range .Params.tags }}
  <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}" class="label label-primary">{{ . }}</a>
  {{ end }}
{{ end }}
{{ if isset .Params "note_tags"}}
  <i class="fa fa-tags"></i>
  {{ range .Params.note_tags }}
  <a href="{{ "note_tags/" | absLangURL }}{{ . | urlize }}" class="label label-primary">{{ . }}</a>
  {{ end }}
{{ end }}
