
{{ partial "head.html" . }}
<div id="main-content" class="container">
  <header>
    {{ partial "bloc/content/h1-title.html" . }}
  </header>
{{ range (where .Site.Pages "Type" "post").GroupByDate "2006 January" }}
{{ if hasPrefix .Key "0001" }}
{{else}}
<h3>{{ .Key }}</h3>
<ul>
    {{ range .Pages }}
        {{ if ne .Title "Posts"}}
    <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a> posted on <i class="fa fa-calendar"></i> <span class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    </li>
        {{end }}
    {{ end }}
</ul>
{{end}}
{{ end }}

