<div class="sidebar">
    <div class="section about">
        {{ if ne .Site.Params.Subtitle "" }}
        <div class="content" align="center">
            <h6> {{.Site.Params.Subtitle}} <a href="/post/index.xml"><i class="fa fa-rss"></i></a></h6>
        </div>
        {{end }}
        <div class="content" align="center">
            <a href="/about/">
                <img src="https://s.gravatar.com/avatar/b0f94048aec1ef594f7c5e929e3f86ce?s=120" class="img-circle"></img>
            </a>

        </div>

        <div class="content" align="center">
            <a target="_blank" href="https://github.com/raghur"><i class="fa fa-github fa-2x">&nbsp;</i></a>
            <a target="_blank" href="https://gitlab.com/rraghur"><i class="fa fa-gitlab fa-2x">&nbsp;</i></a>
            <a target="_blank" href="https://in.linkedin.com/in/raghurajagopalan"><i class="fa fa-linkedin fa-2x">&nbsp;</i></a>
        </div>
    </div>
    {{ if and .IsPage (eq .Params.toc true) }}
    <div class="section toc">
      <header><div class="title">TableOfContents</div></header>
      <div class="list-default">{{ .TableOfContents }}</div>
    </div>
    {{ end }}

    {{ if (or (eq .Type "post") (eq .Kind "home")) }}
        <div class="section latest-posts">
          <header><h3 class="title"><b>{{ i18n "latestposts" }}</b></h3></header>
          <div class="content">
            <ul>
            {{ range first 10 (where .Site.RegularPages "Type" "post") }}
              <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
            </ul>
          </div>
        </div>

        {{ range $key, $value := .Site.Taxonomies }}
          {{ $len := len $value }}
          {{ if (and (eq $key "tags") (not ( eq $len 0 )) ) }}
          <div class="section taxonomies">
            <header><h3 class="title"><b> Popular {{ $key | humanize }}</b></h3></header>

            <div class="content">
                {{ range  $value.ByCount }}
                {{ if gt (len (index $value .Name)) 1 }}
                <span class="tag fa fa-tag label label-default"><a href="{{$.LanguagePrefix }}/{{ $key }}/{{ .Name | urlize }}">{{ .Name | humanize}}<!--({{len (index $value .Name)}})--></a>
                </span>
                {{end}}
                {{ end }}
            </div>
          </div>
          {{ end }}
        {{ end }}
    {{ end }}


    {{ if eq .Type "note" }}
        <div class="section latest-posts">
          <header><h3 class="title"><b>Latest Notes</b></h3></header>
          <div class="content">
            <ul>
            {{ range first 10 (where .Site.Pages "Type" "note") }}
              <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
            </ul>
          </div>
        </div>
        {{ range $key, $value := .Site.Taxonomies }}
          {{ $len := len $value }}
          {{ if (and (eq $key "note_tags") (not ( eq $len 0 )) ) }}
          <div class="section taxonomies">
            <header><h3 class="title"><b> Popular {{ $key | humanize }}</b></h3></header>

            <div class="content">
                {{ range  $value.ByCount }}
                {{ if gt (len (index $value .Name)) 1 }}
                <span class="tag fa fa-tag label label-default"><a href="{{$.LanguagePrefix }}/{{ $key }}/{{ .Name | urlize }}">{{ .Name | humanize}}<!--({{len (index $value .Name)}})--></a>
                </span>
                {{end}}
                {{ end }}
            </div>
          </div>
          {{ end }}
        {{ end }}
    {{ end }}
</div>
