/* custom */

nav.navbar-fixed-top{position:inherit !important;}
nav {margin-bottom:0px !important;}
small {font-size:80%}
.footer {position:static;}
.text-center>h1 {margin-top:0px;}
span.tag {margin: 1px;}
span.tag a {color: white; text-decoration:none}
a.bare {display:none}
a.toplink {display:none;}
a.navbar-brand-img>img {margin:5px 0px; padding-top: 0px;}
.post-meta {display:inline-block; margin: 10px 0 !important;}
.post-entry {line-height: 1.5em;}
.margin-10 {margin-top:10px;}
h2 {margin-top:0.5em;}
.sidebar i {color: black;}
.literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] { padding: 0px; }

body{font-family:"Roboto","DejaVu Serif",serif}
body > .container {padding: 0 15px;}
.admonitionblock td.content>.title,.audioblock>.title,.exampleblock>.title,.imageblock>.title,.listingblock>.title,.literalblock>.title,.stemblock>.title,.openblock>.title,.paragraph>.title,.quoteblock>.title,table.tableblock>.title,.verseblock>.title,.videoblock>.title,.dlist>.title,.olist>.title,.ulist>.title,.qlist>.title,.hdlist>.title
    {font-family:"Roboto","DejaVu Serif",serif;}
#content h1 > a.anchor::before, h2 > a.anchor::before, h3 > a.anchor::before, #toctitle > a.anchor::before, .sidebarblock > .content > .title > a.anchor::before, h4 > a.anchor::before, h5 > a.anchor::before, h6 > a.anchor::before 
    { content: "\f0c1"; font-family: FontAwesome; color: #ba3925; direction: rtl; margin-right: 0.2em; }
.quoteblock blockquote::before{font-family: serif;}
h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {margin-top: 0.5em;}
p {text-align: left;}

.videoblock {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.videoblock div.title {
    position:absolute;
    top:0;
}
.videoblock iframe, .videoblock embed, .videoblock object {
    position:absolute;
    top:1.5em;
    left:0;
    width:100%;
    height:100%;
}

@media screen and (max-width: 768px) {
    div.sidebar div.toc,
    div.sidebar div.taxonomies,
    div.sidebar div.latest-posts {
        display:none;
    }
}

