{{ if ne .Site.Params.footline "" }}
<div class="footline">
    <small>{{ partial "modules/site/footline.html" . }}
       &nbsp;<a href="https://gitlab.com/rraghur/rraghur.gitlab.io">git: {{ substr (getenv "CI_COMMIT_SHA") 0 8 }} </a>
       {{ if .IsPage }}
       &nbsp;<a href="https://gitlab.com/rraghur/rraghur.gitlab.io/edit/master/content/{{ .File.Path}}">Edit in Gitlab</a>
       {{ end }}
    </small>
</div>
{{ end }}
