
<footer class="footer hidden-print">
    {{ $width := cond (and (eq .Type "post") .Site.Params.showRightSidebar) 9 12 }}
  <div class="container">
    <div class="row">
        <div class="col-xs-{{$width}} col-sm-{{$width}} col-md-{{$width}} col-lg-{{$width}}">
           {{ partial "bloc/footer/nav.html" . }}
        </div>
        <div class="col-xs-{{$width}} col-sm-{{$width}} col-md-{{$width}} col-lg-{{$width}} text-center">
              {{ partial "bloc/footer/credits.html" . }}
        </div>
    </div>
  </div>
</footer>
